<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/chat.css">
    <title>Secret Hitler</title>
</head>

<body>

    <div class="box">
        <div>Chat</div>
        <div class="chatBox" id="chat-text">
        </div>
        <input id="chat-input" type="text">
        <input id="sendbutton" class="btn" type="submit" value="Send">
        <input type="button" value="Chat Clear" id="chatclear">

    </div>
    </div>

    <h1>Pretend there is an epic AAA game here</h1>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/chat.js"></script>
    <script>

    </script>
</body>

</html>